article {
  padding: 0 2.5% 0 2.5%; }

.sorter {
  width: 100%; }
  .sorter #intro {
    margin-bottom: 2em; }

.grid {
  max-width: 100%;
  margin-top: 4em; }

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

.grid-item {
  width: 44%;
  margin: 0% 5% 5% 0%;
  height: auto;
  border: 2px solid #eee;
  border-radius: 5px; }
  .grid-item img {
    width: 100%; }

.text {
  background: white;
  padding: 1em; }

.panel {
  background-color: white;
  display: none;
  margin-top: 1em; }

.arrow-hidden {
  display: none; }

.sorter-head-row {
  margin-top: 2em; }

@media (min-width: 900px) {
  .grid {
    margin-top: 0em; }
  .sorter {
    width: 25%;
    margin-right: 5%;
    float: left; }
  .grid {
    width: 70%;
    display: inline-block; }
  .grid-item {
    width: 31%;
    margin: 0% 1% 1% 0%; }
  #button-top-scroll {
    left: 0;
    bottom: 15%;
    width: auto;
    margin-left: 2.5%; } }
