<!doctype html>
<html lang="en">
    <head></head>
    <body>
    	<p>{{ object.ref }}</p>
    	<a href="{{ object.ref }}/"><img src="/static/img/entries/{{ object.ref }}.jpg" onerror="this.style.display='none'"/></a>
        <a href="{{ object.ref }}/"><img src="/static/img/entries/{{ object.ref }}A.jpg" onerror="this.style.display='none'"/></a>

        <h2>{{ object.general_category }}</h2>
        <p> <span class="bold"> {{ object.award }}           </span> {{ object.specific_category }} </p>
        <br>
        <p> <span class="bold">{{ object.publication }}</span> </p> 
        <p> <span class="bold"> {{ object.city }} </span> {{ object.country }} </p>
        <p> <span class="bold"> {{ object.name1 }} </span> {{ object.title1 }}</p>
        <p> <span class="bold"> {{ object.name2 }} </span> {{ object.title2 }}</p>
        <p> <span class="bold"> {{ object.name3 }} </span> {{ object.title3 }}</p>
        <p> <span class="bold"> {{ object.name4 }} </span> {{ object.title4 }}</p>
        <p> <span class="bold"> {{ object.name5 }} </span> {{ object.title5 }}</p>
        <p> <span class="bold"> {{ object.name6 }} </span> {{ object.title6 }}</p>
        <p> <span class="bold"> {{ object.name7 }} </span> {{ object.title7 }}</p>
        <p> <span class="bold"> {{ object.name8 }} </span> {{ object.title8 }}</p>
        <p> <span class="bold"> {{ object.name9 }} </span> {{ object.title9 }}</p>
        <p> <span class="bold"> {{ object.name10 }} </span> {{ object.title10 }}</p>
    </body>
</html>