<!doctype html>
<html lang="en">
    <head> 
        <link rel="stylesheet" href="static/css/reset.css">
       
        <link rel="stylesheet" href="static/css/style.css">

        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    </head>

    <body>
        <nav>

            <div class="nav-wrapper">
                <a href="http://www.snd.org"><img src="{{ url_for('static', filename='img/snd_logo.png') }}"></a>
                <h1>38th Best of News Design</h1>
                <button class="share-open">
                    <p>SHARE</p>
                </button>
            </div>

           
           <div class="share-container share-hide">
                <div class="share-menu">
                    <div class="share-text">
                    <button class="share-close">X Close</button>
                    <h2>Share</h2>
                        <a href=""><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve"> <style type="text/css"> .st0{fill:none;stroke:#919395;stroke-width:5;stroke-miterlimit:10;} </style> <g> <path class="st0" d="M46.9,63.4L30.7,51.9c-2.4-1.7-2.9-5-1.2-7.3L57.7,4.9c1.7-2.4,5-2.9,7.3-1.2l16.1,11.5c2.4,1.7,2.9,5,1.2,7.3 L54.2,62.1C52.5,64.5,49.2,65.1,46.9,63.4z"/> <path class="st0" d="M35,96.3L18.8,84.8c-2.4-1.7-2.9-5-1.2-7.3l28.2-39.6c1.7-2.4,5-2.9,7.3-1.2l16.1,11.5c2.4,1.7,2.9,5,1.2,7.3 L42.3,95.1C40.6,97.4,37.3,98,35,96.3z"/></g></svg>URL TK</a>
                        <a href=""><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.85 81.14"><defs><style>.cls-1{fill:#929497;}</style></defs><title>twitter-icon</title><path class="cls-1" d="M89.69,29.64c0,.88.06,1.76.06,2.65,0,27.07-20.6,58.28-58.28,58.28A58,58,0,0,1,.08,81.37,41.4,41.4,0,0,0,5,81.65,41.12,41.12,0,0,0,30.4,72.88,20.48,20.48,0,0,1,11.27,58.66a21.2,21.2,0,0,0,3.85.37,20.88,20.88,0,0,0,5.4-.72A20.5,20.5,0,0,1,4.09,38.22V38a20.38,20.38,0,0,0,9.28,2.57A20.52,20.52,0,0,1,7,13.18a58.18,58.18,0,0,0,42.22,21.4A20.5,20.5,0,0,1,84.16,15.9a41.16,41.16,0,0,0,13-5,20.48,20.48,0,0,1-9,11.33A40.72,40.72,0,0,0,99.92,19,41.74,41.74,0,0,1,89.69,29.64Z" transform="translate(-0.08 -9.43)"/></svg>Twitter TK</a>
                        <a href=""><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.89 100"><defs><style>.cls-1{fill:#929497;}</style></defs><title>fb-icon</title><path class="cls-1" d="M57.75,36.6l17.6,0L73.08,54.36l-15.31,0L57.83,100l-18.35,0-.06-45.6-15.34,0,0-17.77,15.35,0,0-13.11C39.36,8.31,48.64,0,62.21,0A126.6,126.6,0,0,1,75.92.68l0,15.9H66.54c-7.38,0-8.8,3.52-8.8,8.67Z" transform="translate(-24.05)"/></svg>Facebook TK</a>
                        
                    </div>
                </div>
            </div> 
        </nav>

        


        <article>
            <div class="sorter" >
                <p id="intro">Welcome to the database for the Society for News Design's Best of News Design. Use the filters below to search through the images and click on an entry to see a higher resolution copy.</p>

            


                

                <div id="filters" class="button-group">
                    <p class="filter-count">Showing 1144 entries</p>
                    <button class="is-checked" data-filter="*">Show All</button>

                <h2>Award</h2>
                    <p><input type="text" id="awardsearch" placeholder="Search Awards" /></p>
                    
                    <button class="accordion accordion-hide">View Filters</button>
                    
                    <div class="panel">
                        <button class="button" data-filter=".WBD">World's Best Designed</button>
                        <button class="button" data-filter=".G">Gold</button>
                        <button class="button" data-filter=".S">Silver</button>
                        <button class="button" data-filter=".AE">Award of Excellence</button>
                    </div>
                <h2>Category</h2>
                    <p><input type="text" id="categorysearch" placeholder="Search Categories" /></p>

                    <button class="accordion accordion-hide">View Filters</button>
                    <div class="panel">
                        <button class="button" data-filter=".BNT">Breaking News Topics</button>
                        <button class="button" data-filter=".CPD">Combination Print &amp; Digital</button>
                        <button class="button" data-filter=".EDC">Editorial Cartoons</button>
                        <button class="button" data-filter=".FDP">Features Design, Pages</button>
                        <button class="button" data-filter=".FDS">Features Design, Sections</button> 
                        <button class="button" data-filter=".ILL">Illustration</button>
                        <button class="button" data-filter=".IGM">Information Graphics, Multiple</button>
                        <button class="button" data-filter=".IGS">Information Graphics, Single</button>
                        <button class="button" data-filter=".MAG">Magazines</button>
                        <button class="button" data-filter=".MIS">Miscellaneous</button> 
                        <button class="button" data-filter=".MIL">Multiple Illustrations</button>
                        <button class="button" data-filter=".NDP">News Design, Pages</button>
                        <button class="button" data-filter=".NDS">News Design, Sections</button>
                        <button class="button" data-filter=".OPI">Opinion </button>
                        <button class="button" data-filter=".OPD">Opinion Design</button>
                        <button class="button" data-filter=".OPS">Opinion section</button>                    
                        <button class="button" data-filter=".PDP">Page Design, Individual Portfolio</button>                    
                        <button class="button" data-filter=".PDS">Page Design, Staff Portfolio</button>
                        <button class="button" data-filter=".PMP">Photography, Multiple Photos</button>
                        <button class="button" data-filter=".PSP">Photography, Single Photos</button>
                        <button class="button" data-filter=".RED">Redesigns</button>
                        <button class="button" data-filter=".RPR">Reprints</button>
                        <button class="button" data-filter=".SPC">Special Coverage</button>
                        <button class="button" data-filter=".SNT">Special News Topics</button>
                        <button class="button" data-filter=".SPS">Special Sections</button>
                        <button class="button" data-filter=".WBD">World's Best Designed</button>
                    </div>
                <h2>Publication</h2>
                    <p><input type="text" id="publicationsearch" placeholder="Search Publications" /></p>

                <h2>Designer</h2>
                    <p><input type="text" id="designersearch" placeholder="Search Designers" /></p>

        
                </div>
            <!-- end of sorter -->
            </div>
            
            <!-- container for isotope -->
            <div class="grid">
                <!-- <div class="grid-item G">
                    <p class="award_search">Gold
                    </p>
                    <p>Test phrase with World's Best Designed in it</p>
                </div>

                <div class="grid-item WBD">
                    <p class="award_search">World's Best Designed</p>
                    <p>xx</p>
                </div>

                <div class="grid-item S">
                    <p class="award_search">Silver</p>
                    <p>Test phrase with World's Best Designed in it</p>
                </div>

                <div class="grid-item AE">
                    <p class="award_search">Award of Excellence</p>
                    <p>Test phrase with World's Best Designed in it</p>
                </div>

                <div class="grid-item WBD">
                    <p class="award_search">World's Best Designed</p>
                    <p>yy</p>
                </div>

                <div class="grid-item G">
                    <p class="award_search">Gold</p>
                    <p>Test phrase with World's Best Designed in it</p>
                </div> -->

                <!-- Below is used for the actual app -->
                {% for obj in object_list %}
                <div class="grid-item {{ obj.award_single_word }} {{ obj.general_category_single_word }}">
                   
                   <a href="{{ obj.ref }}/"><img src="static/img/entries_lowResolution/{{ obj.ref }}.jpg" onerror="this.style.display='none'"/></a>
                    
                    
                    <div class="text">
                   
                        <a href="{{ obj.ref }}/" class="ref">{{ obj.ref }}</a>

                        <h2 class="category_search">{{ obj.general_category }}</h2>
                        <p class="award_search"> <span class="bold"> {{ obj.award }}  </p><p>         </span> {{ obj.specific_category }} </p>
                        <br>

                        <p class="publication_search"><span class="bold"> {{ obj.publication }}</span></p> 
                        <p>  {{ obj.city }}, {{ obj.country }} </p>

                        <br>

                        <p class="designer_search" >  <span class="bold">{{ obj.name1 }} </span> {{ obj.title1 }}</p>
                        <p class="designer_search"> <span class="bold"> {{ obj.name2 }} </span> {{ obj.title2 }}</p>
                        <p class="designer_search"> <span class="bold"> {{ obj.name3 }} </span> {{ obj.title3 }}</p>
                        <p class="designer_search"> <span class="bold"> {{ obj.name4 }} </span> {{ obj.title4 }}</p>
                        <p class="designer_search"> <span class="bold"> {{ obj.name5 }} </span> {{ obj.title5 }}</p>
                        <p class="designer_search"> <span class="bold"> {{ obj.name6 }} </span> {{ obj.title6 }}</p>
                        <p class="designer_search"> <span class="bold"> {{ obj.name7 }} </span> {{ obj.title7 }}</p>
                        <p class="designer_search"> <span class="bold"> {{ obj.name8 }} </span> {{ obj.title8 }}</p>
                        <p class="designer_search"> <span class="bold"> {{ obj.name9 }} </span> {{ obj.title9 }}</p>
                        <p class="designer_search"> <span class="bold"> {{ obj.name10 }} </span> {{ obj.title10 }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <button id="button-top-scroll">Scroll to top</button>
        </article>

        <script type="text/javascript" src="static/js/jquery-3.2.1.min.js") }}"></script>
        <script type="text/javascript" src="static/js/isotope.pkgd.min.js") }}"></script>
        <script type="text/javascript" src="static/js/packery-mode.pkgd.min.js") }}"></script>
        <script type="text/javascript" src="static/js/app.js") }}"></script>

    </body>
</html>