@import 'imports';

article{
	padding: 0 2.5% 0 2.5%;
	// display: flex;
	// flex-wrap: wrap;
	// justify-content: space-between;
}

.sorter{
  width: 100%;
  #intro{
    margin-bottom: 2em;
  }
}

.grid {
  // background: #DDD;
  max-width: 100%;
  margin-top: 4em;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  width: 44%;
  margin: 0% 5% 5% 0%;
  height: auto;
  border: 2px solid $light-gray;
  border-radius: 5px;
  img{
    width: 100%;
  }
}

.text{
  background: white;
  padding: 1em;
}


.panel {
    // padding: 0 18px;
    background-color: white;
    display: none;
    margin-top: 1em;
}

.arrow-hidden{
  display: none;
}

.sorter-head-row{
  margin-top: 2em;
}

@include for-size(tablet-portrait) {
  //   .sorter{
  //     width: 25%;
  //     margin-right: 5%;
  //     // margin-right: 5%;
  //     // display: inline-block;
  //     float: left;
  //   }
  //   .grid{
  //     width: 70%;
  //     display: inline-block;
  //   }
  //   .grid-item{
  //     width: 31%;
  //     margin: 0% 1% 1% 0%;
  //   }

  //   #button-top-scroll{
  //   left: 0;
  //   bottom: 15%;
  //   width: auto;
  //   margin-left: 2.5%;
  // }
}



@include for-size(tablet-landscape) {
  .grid{
    margin-top: 0em;
  }
  .sorter{
      width: 25%;
      margin-right: 5%;
      // margin-right: 5%;
      // display: inline-block;
      float: left;
    }
    .grid{
      width: 70%;
      display: inline-block;
    }
    .grid-item{
      width: 31%;
      margin: 0% 1% 1% 0%;
    }

    #button-top-scroll{
    left: 0;
    bottom: 15%;
    width: auto;
    margin-left: 2.5%;
  }
}

@include for-size(desktop) {
    // .sorter{
    //   width: 15%;
    // }
    // .grid{
    //   width: 80%;
    // }
    // .grid-item{
    //   width: 23%;
    //   margin: 0 1% 1% 0%;

    // }
}

@include for-size(large-desktop) {
    
}

