@import 'imports';

h1,h2,h3,h4,h5,h6,p,li,a,th,td,tr{
	font-family: 'Lato', sans-serif;
}

h1{
	font-size: 2em;
	margin-bottom: .5em;
	font-weight: 700;
	letter-spacing: 1px;
	color: white;
}

h2{
	font-size: 1.5em;
	// margin-bottom: .25em;
	line-height: 1.5em;
}

p{
	line-height: 1.5em;
}

.bold{
	font-weight: 700;
}


button{
	border: 1px solid transparent;
	// border-color: $snd-blue;
	border-radius: 4px;
	background-color: $snd-blue;
	width: auto;
	height: 2em;
	text-align: center;
	font-size: 1em;
	display: inline-block;
	color: white;
	padding: 0 5px 0 5px;
}
button:hover{
	background-color: $snd-dark-blue;
}



