$snd-blue: #748FA4;
$snd-dark-blue: #304659;
// $dark-gray: #bbb;
$dark-gray: #585858;
// $mid-gray: #ccc;
$mid-gray: #757575;
$light-gray: #eee;


@mixin for-size($size) {
  @if $size == phone {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop {
    @media (min-width: 1200px) { @content; }
  } @else if $size == large-desktop {
    @media (min-width: 1800px) { @content; }
  }
}
